.subscribe-button{
    background-color: rgb(220, 0, 0); 
    color: white; 
    border:none; 
    padding-right: 16px;
    padding-left:16px ;
    padding-top: 9px;
    padding-bottom:9px ;
    cursor:pointer;
    border-radius: 2px;
    margin-right: 8px;
    transition: opacity,0.15s;
}

.subscribe-button:hover {
    opacity: 0.5;
}

.subscribe-button:active {
    opacity: 0.2;
}

.join-button:hover{
    background-color:rgb(41,118,211); 
    color: white;
}

.join-button:active{
    opacity: 0.7;
}

.join-button{
    background-color: white; 
    color: rgb(41,118,211); 
    border-color: rgb(41,118,211); 
    border-style: solid;
    border-width: 1px;
    cursor:pointer;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color,0.15s, color,0.15s;
    padding-right: 16px;
    padding-left:16px ;
    padding-top: 8px;
    padding-bottom:8px ;
}

.tweet-button{ 
    color: white; 
    cursor:pointer;
    border:none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color:rgb(2,137,255);
    transition: box-shadow,0.15s;
    padding-right: 16px;
    padding-left:16px ;
    padding-top: 9px;
    padding-bottom:9px ;
    margin-right: 8px;

}

.tweet-button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.tweet-button:active{
    opacity: 0.7;
}

.shadow-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    padding-right: 14px;
    padding-left:14px ;
    padding-top: 8px;
    padding-bottom:8px ;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.shadow-button:active{
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}